body{

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(Game/img/sky_background_green_hills.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}


#logo{
    
    margin: 0px auto;
    margin-top: 10%;
    border-radius: 100px;
    width: 3000px;
    height:2000px;
    border: 10px solid rgba(255, 255, 255, 0);
    background-image: url(Game/img/logo.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    
    
}

#instrucciones{
    
    margin: 0px auto;
    margin-top: 10%;
    border-radius: 100px;
    width: 2000px;
    height:2000px;
    border: 10px solid rgba(255, 255, 255, 0);
    background-image: url(/img/instrucciones.png);
    background-repeat:no-repeat;
    background-size: 100% 100%;
    
    
}

.myButton {
	box-shadow: 0px 17px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:150px;
	font-weight:bold;
	padding:21px 76px;
	text-decoration:none;
	text-shadow:0px 0px 0px #3d768a;
    margin-left: 35%;
    margin-top: 40%;

}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}