*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{

    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/sky_background_green_hills.png");
    background-repeat:no-repeat;
    background-size: 100% 100%;
    background-attachment: fixed;
}



#canvasG{
    
    margin: 0px auto;
    margin-top: 5%;
    border-radius: 55px;
    width: 3000px;
    height:2000px;
    border: 10px solid rgba(82, 80, 80, 0.425);
    
}

h2 {
    font-size: 700px;
    font-family: Helvetica;
    color: rgb(255, 255, 255);
    text-shadow: 2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
    text-align: center;
  }


  .myButton {
	box-shadow: 0px 17px 14px -7px #276873;
	background:linear-gradient(to bottom, #599bb3 5%, #408c99 100%);
	background-color:#599bb3;
	border-radius:25px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:100px;
	font-weight:bold;
	padding:21px 76px;
	text-decoration:none;
	text-shadow:0px 0px 0px #3d768a;

}
.myButton:hover {
	background:linear-gradient(to bottom, #408c99 5%, #599bb3 100%);
	background-color:#408c99;
}

#Button1{
    margin-top: -80px;
    margin-left: 45%;
    float: left;
    position: absolute;
}
#principal{
    position: relative;
}

      
